*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  --_text-color: white;
  --_background: #1a1a1d;
  --_red1: #6f2232;
  --_red2: #950740;
  --_red3: #c3073f;
}
html,
body {
  min-height: 100%;
  background-color: var(--_background);
}
body {
  /* background-image: url("../pictures/rhamely-BGThlle8FWY-unsplash.jpg"); */

  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

body > div {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

h2 {
  color: var(--_red1);
}

a {
  color: var(--_red1);
  text-decoration: none;
}

button {
  width: 10em;
  position: relative;
  height: 3.5em;
  border: 3px ridge #149cea;
  outline: none;
  background-color: transparent;
  color: white;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
}

button::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  transition: 0.5s;
  transform-origin: center;
}

button::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  transition: 0.5s;
}

button:hover::before,
button:hover::after {
  transform: scale(0);
}

button:hover {
  box-shadow: inset 0px 0px 25px #1479ea;
}
