*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  --_text-color: #4e4e50;
  --_background: #1a1a1d;
  --_red1: #6f2232;
  --_red2: #950740;
  --_red3: #c3073f;
}
html,
body {
  min-height: 100%;
}
body {
  /* background-image: url("../pictures/rhamely-BGThlle8FWY-unsplash.jpg"); */

  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

body > div {
  min-height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

h2 {
  color: var(--_red1);
}

a {
  color: var(--_red1);
  text-decoration: none;
}
