.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--_background);
  padding: 20px 40px;
}

.navbarLeftSide,
.navbarRightSide,
.navbarPages {
  display: flex;
  justify-content: row;
  align-items: center;
}
.navbarLogo,
.navbarHome,
.navbarStore,
.navbarCart,
.navbarAccount {
  display: flex;
  padding-left: 20px;
  color: var(--_red3);
  align-items: center;
}

.navbarLogo h2 {
  padding-left: 4px;
}

.contentBody {
  height: 100%;
  background-image: url("../pictures/rhamely-BGThlle8FWY-unsplash.jpg");
}


.contentText {
  display: block;
  width: 30%;
  padding-top: 15%;
  padding-left: 10%;
}

.contentText > h1 {
  color: var(--_text-color);
}

.contentText > button {
  width: 30%;
  height: 10%;
  margin-top: 24px;
  background-color: transparent;
  color: var(--_red1);
  border: 1px solid var(--_red1);
}

.error {
  height: 100%;
  background-image: url("../pictures/rhamely-BGThlle8FWY-unsplash.jpg");
}

.errorContent {
  display: block;
  width: 65%;
  padding-top: 20%;
  padding-left: 42%;
}

.errorLink {
  padding-left: 8px;
}

.storeContent {
  display: grid;
  height: 100%;
  grid-template-columns: 0.5fr 1.5fr;
  background-color: var(--_background);
}

.storeCategory {
  grid-area: 1 / 1 / 2 / 2;
  height: auto;
  border: 2px solid var(--_red3);
  border-radius: 8px;
  /* margin-left: 40px;
  margin-top: 80px; */
  margin-left: 7%;
  margin-top: 15%;
  position: fixed;
}

.storeCategoryTitle > ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  padding-right: 40px;
  margin: 24px 0;
  color: var(--_red1);
}

.storeGrid {
  display: grid;
  grid-area: 1 / 2 / 2 / 3;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  margin-top: 40px;
  margin-right: 40px;
  color: aliceblue;
}

.storeGridItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.storeGridButtons {
  display: inline-flex;
  gap: 4px;
}

.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 400px;
  margin-left: 400px;
  height: 40px;
  background-color: var(--_background);
  border: 1px solid var(--_red3);
  width: fit-content;
}
